<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
<h2>Hello user</h2><br>
<h1><a th:href="@{/admin/manufacturers}">Admin manufacturers</a></h1><br>
<h1><a th:href="@{/admin/products}">Admin Products</a></h1><br>
<h1><a th:href="@{/admin/users}">Admin Users</a></h1><br>

<h1><a th:href="@{/user/manufacturers}">User manufacturers</a></h1><br>
<h1><a th:href="@{/user/products}">User Products</a></h1><br>
<h1><a th:href="@{/user/users}">User Users</a></h1><br>
</body>
</html>
