<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users Manager</title>
</head>
<body>
<div align="center">
    <h1>Users manager</h1>
    <table border="1" padding="5">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Password</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
            </tr>
        </th:block>
    </table>
</div>
<a th:href="@{/}">Home</a>
</body>
</html>
