<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Manufacturers manager</h1>
    <table border="1" padding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <th:block th:each="manufacturer : ${manufacturers}">
            <tr>
                <td th:text="${manufacturer.id}"></td>
                <td th:text="${manufacturer.name}"></td>
            </tr>
        </th:block>
    </table>
    <a th:href="@{/}">Home</a>
</div>
</body>
</html>
